body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

.calc {
    display: flex;
    flex-flow: column;
    margin: 100px auto;
    width: 400px;

    background-color: #333;
}

.screen {
    text-align: right;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #fff;

}

.calc-button {
    width: 24.1%;
    padding: 20px;
    margin: 0 auto;
}

.data-clear {
    width: 49.4%;
    padding: 21px;


}

.data-zero {
    width: 74.5%;
    padding: 21px;
}

.symbol {
    background-color: #CE8443;
    font-family: monospace;
    color: #fff;
    font-size: 18px;

}

.calc-button:hover,
.data-clear:hover,
.data-zero:hover {
    background-color: rgba(255, 255, 255, 0.856);
}

.symbol:hover {
    background-color: rgba(247, 170, 104, 0.774);
}